:root {
  --mainpage-margin: 15%;
  --inner-container-margin: 5%;

  --primary-colour: #282c34;
  --primary-colour-inverse: #ffffff;
  --primary-colour-hover: #0b0c0e;

  --secondary-colour: #525d80;
  --secondary-colour-hover: #373f58;
  --secondary-colour-inverse: #ffffff;

  --primary-font: Verdana, Geneva, Tahoma, sans-serif;
  --secondary-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
  font-family: var(--primary-font);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-container {
  display: grid;
}

.inner-container {
  width: 50%;
}

#portfolio-container {
  margin-left: 50%;
}

#self-description {
  width: 34%;
  position: fixed;
}

.self-description-inner-container {
  margin-left: 10%;
  width: 60%;
}


.sidebar-container {
  position: fixed;
  width: 10%;
  height: 100%;
  background-color: #009400;
  box-shadow: 1px 0px 10px 1px;
}

#sidebar-container-right {
  margin-left: 90%;
}

.navbar {
  display: flex;
  background-color: var(--primary-colour);
  padding-left: 1.5rem;
  width: 100%;
  position: fixed;
  box-shadow: -5px 2px 15px black;
  z-index: 10000;
}

.navbar-btn {
  transition: 0.5s;
  padding: 0.5rem;
  width: 8rem;
  height: 4rem;
  font-size: large;
  font-family: var(--primary-font);
  background-color: var(--primary-colour);
  color: var(--primary-colour-inverse);
  border: none;
}

.navbar-btn:hover {
  background-color: var(--primary-colour-hover);
  font-size: larger;
}

#navbar-btn-title {
  font-weight: bolder;
  font-family: var(--secondary-font);
  font-size: 1.5rem;
  width: 12rem;
}

.title-container {
  height: 100vh;
  width: 100%;
  color: white;
  background: transparent;
  overflow: hidden;
  z-index: 1000;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

@keyframes title-circle {
  0% { height: 0%; margin-bottom: 50%; z-index: -100; }
  50% { height: 100%; margin-bottom: 0%; z-index: -102; }
  100% { height: 100%; margin-bottom: 0%; z-index: -105; }
}

.title-circle {
  position: absolute;
  z-index: -100;
  overflow: hidden;
  width: 100%;
}

#title-circle1 {
  background-color: rgb(48, 201, 56);

  animation: title-circle;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

#title-circle2 {
  background-color: rgb(25, 3, 85);
  height: 100%;
  z-index: -105;

  animation: title-circle;
  animation-duration: 10s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}

.title-heading {
  padding-bottom: 0rem;
  margin-bottom: 0rem;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}

.title-subheading {
  font-size: 1.5rem;
  width: 35rem;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}

.title-link {
  font-size: 1.5rem;
  color: var(--secondary-colour-inverse);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}

.title-btns {
  margin-top: 3rem;
  display: flex;
  list-style: none;
  padding-inline-start: 0;
  justify-content: center;
  align-items: center;
  width: 40rem;
}

.title-btn {
  width: 12rem;
  height: 4rem;
  transition: 0.5s;
  margin-left: 1rem;
  margin-right: 1rem;
  
  background-color: var(--secondary-colour);
  border-radius: 2rem;
  border: none;
  box-shadow: 0px 2px 15px black;
}

.title-btn:hover {
  background-color: var(--secondary-colour-hover);
  transition: 0.5s;
}

.aboutme-container {
  display:flex;
  background-color: var(--secondary-colour);
  color: var(--secondary-colour-inverse);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);

  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.aboutme-paragraph-container {
  display: block;
  margin-left: 10rem;
  width: 40rem;
}

.aboutme-heading {
  margin-bottom: 0;
  padding-bottom: 0;
}

.aboutme-portrait {
  width: 28rem;
  height: 28rem;
  border-radius: 50%;
  object-fit: scale-down;
  margin-left: 12rem;
}

.skills-container {
  background-color: var(--primary-colour);
  color: var(--primary-colour-inverse);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: column;

  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
}


.skills-list {
  width: 50rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline-start: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-bottom: 3rem;
}

.skills-list-item {
  display: flex;
  justify-content: center;
  color: var(--secondary-colour);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  transition: 0.2s;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.skills-list-item:hover{
  color: rgb(0, 255, 0);
  margin-bottom: 0.5rem;
  transition: 0.2s;
}

.skills-icon {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  list-style: none;
  display: flex;
}

.skills-icon-text {
  font-weight: bold;
  font-size: 100%;
  margin-top: 8rem;
  position: absolute;
}

.skills-paragraph {
  margin-top: 2rem;
  width: 60rem;
}