:root {
  --mainpage-margin: 15%;
  --inner-container-margin: 5%;

  --primary-colour: #282c34;
  --primary-colour-inverse: #ffffff;
  --primary-colour-hover: #0b0c0e;

  --primary-font: Verdana, Geneva, Tahoma, sans-serif;
  --secondary-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-container {
  display: grid;
}

.inner-container {
  width: 50%;
}

#portfolio-container {
  margin-left: 50%;
}

#self-description {
  width: 34%;
  position: fixed;
}

.self-description-inner-container {
  margin-left: 10%;
  width: 60%;
}


.sidebar-container {
  position: fixed;
  width: 10%;
  height: 100%;
  background-color: #009400;
  box-shadow: 1px 0px 10px 1px;
}

#sidebar-container-right {
  margin-left: 90%;
}

.navbar {
  display: flex;
  background-color: var(--primary-colour);
  padding-left: 1.5rem;
  width: 100% - 1.5rem;
  position: relative;
  box-shadow: -5px 2px 15px black;
}

.navbar-btn {
  transition: 0.5s;
  padding: 0.5rem;
  width: 8rem;
  height: 4rem;
  font-size: large;
  font-family: var(--primary-font);
  background-color: var(--primary-colour);
  color: var(--primary-colour-inverse);
  border: none;
}

.navbar-btn:hover {
  background-color: var(--primary-colour-hover);
  font-size: larger;
}


.title-container {
  height: 100vh;
  width: 100%;
  color: black;
  background: transparent;
  overflow: hidden;
  z-index: 1000;
}

@keyframes title-circle {
  0% { height: 0%; z-index: -100; }
  50% { height: 100%; z-index: -102; }
  100% { height: 100%; z-index: -105; }
}

.title-circle {
  position: absolute;
  z-index: -100;
  overflow: hidden;
  width: 100%;
}

#title-circle1 {
  background-color: rgb(61, 255, 71);

  animation: title-circle;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

#title-circle2 {
  background-color: rgb(55, 125, 255);

  animation: title-circle2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.title-heading {
  margin-top: 18rem;
  font-size: 4.5rem;
  padding-bottom: 0rem;
  margin-bottom: 0rem;
}

.title-subheading {
  font-size: 1.5rem;
  width: 35rem;
  margin-left: 40rem;
}